.buttonMain {
  background: #ffffff;
  border: none;
  font-size: 18px;
  color: #1c1c1c;
  cursor: pointer;
}

.buttonMainOff{
  font-size: 14px;
  color: #757E7F;
}

.underlineOn {
  margin: 5px 0 0 0 ;
  width: 16px;
  height: 2px;
  border-radius: 46px;
  background: #1C1C1C;
}

.underlineOff {
  background: transparent;
}