.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
    overflow: hidden;
    transition: all 0.33s;
}

.box1 {
    width: 100%;
    height: 50%;
    background-color: #77428D;
    transition: all 0.33s;
}

.box2 {
    width: 100%;
    height: 50%;
    background-color: #005caf;
    transition: all 0.33s;
}

.box3 {
    width: 0%;
    height: 50%;
    background-color: #005caf;
    opacity: 0;
    transition: all 0.33s;
}

.container:hover .box1 {
    width: 50%;
    height: 100%;
}

.container:hover .box2 {
    height: 100%;
    width: 50%;
    opacity: 0;
}

.container:hover .box3 {
    width: 50%;
    height: 100%;
    opacity: 1;
}

.text {
    opacity: 0;
}

.container:hover {
    width: 700px;
}

.container:hover .text {
    animation: showText 0.33s 0.3s forwards;
}

@keyframes showText {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}