.chooseEquipButton {
  cursor: pointer;
  height: 26px;
  width: 90px;
  border-radius: 2px;
  border: 1px solid #A0ACB5;
  background: #FFFFFF;
  font-size: 12px;
  margin: 0 10px 0 0;
  transition: color 0.3s, background 0.3s, border 0.3s;
}

.chooseEquipButtonOn {
  color: #ffffff;
  background: #1c1c1c;
  border: 1px solid rgba(0, 0, 0, 1);
}

.chooseEquipMain {
  padding: 12px 16px 12px 16px;
}